<footer>
  <div class="footer-content">

    <h3>Who we are</h3>

    <p>We are rapidly emerging digital Camera products sales and marketing subsidiary of Cam store Inc., Cam store India markets a comprehensive range of sophisticated contemporary digital imaging products and solutions in India. In sync with its corporate tagline --<br> ❝ Capture it all ❞  </p>

    <ul class="socials">

      <li><a href="#"><i class="fab fa-facebook"></i></a></li>

      <li><a href="#"><i class="fab fa-twitter"></i></a></li>

      <li><a href="#"><i class="fab fa-google-plus"></i></a></li>

      <li><a href="#"><i class="fab fa-youtube"></i></a></li>

      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

    </ul>

  </div>

  <div class="footer-bottom">

    <p style="margin: 0;">Copyright &copy <span id="year"></span> <a href="{% url 'core:home' %}">@Photopark</a> </p>

  </div>

</footer>