{% extends "base.html" %}

{% block content %}
  <main class="" style="margin-bottom: 130px;">
    <div class="container ">

    <div class="table-responsive text-nowrap pt-5">
    <h2>Cart</h2>
    {% if object.items.all %}
    <table class="table ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Gross Price</th>
            <th scope="col">Net Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td style="font-family: Monserrat;font-size: 16px;">₹ {{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td style="font-family: Monserrat;font-size: 16px;">₹ {{ order_item.get_total_item_price }}</td>
            <td style="    display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: Montserrat;
            font-size: 16px;
        ">
            {% if order_item.item.discount_price %}
                ₹ {{ order_item.get_total_discount_item_price }}
                <span class="badge grey ml-2 p-2">Saving ₹ {{ order_item.get_amount_saved }}</span>
            {% else %}
                ₹ {{ order_item.get_total_item_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash"></i>
            </a>
            </td>
        </tr>
        
        {% endfor %}
        <!-- {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td style="font-family: Montserrat;"><b>-₹ {{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %} -->
       
        {% if object.items.all %}
            {% if object.get_total %}
        <tr>
            <td colspan="5" style="font-size: 16px; font-weight: 700;"><b>Order Total</b></td>
            <td style="font-family: Montserrat; font-size: 18px; font-weight: 700;"><b>₹ {{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="6">
            <a class='btn btn-primary  float-right ml-2' href='/checkout/'>Proceed to checkout</a>
            <a class='btn btn-danger float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
            {% endif %}
        {% endif %}
        </tbody>
    </table>
    {% else %}
    
    <div>
         <div class="empty-state">
        <div class="empty-state__content">
          <div class="empty-state__icon">
            <img src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-626.jpg?size=626&ext=jpg&ga=GA1.2.879045405.1675969669&semt=ais" alt="">
          </div>
          <div class="empty-state__message">No products has been added yet.</div>
          <div class="empty-state__help">
        
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
        <a class='btn btn-primary ' style="color: aliceblue;" href='/'>Return to Shop</a>
    </div>
    {% endif %}
    

    </div>

    </div>
  </main>

{% endblock content %}


